<section id="presentation">
  <div class="presentation__container">
    <h1>Saúl Antonio Morquecho Cela</h1>
    <h2>Desarrollador Fullstack</h2>
  </div>
</section>

<style>
  img {
    width: 12.5rem;
    border-radius: 50%;
  }

  h1 {
    margin: 0;
    font-size: 4rem;
  }

  #presentation {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
  }

  .presentation__container {
    width: 60%;
    text-align: center;
  }

  @media screen and (min-width: 0) and (max-width: 700px) {
    h1 {
      margin: 0;
      font-size: 4rem;
    }
    #presentation {
      height: 150vh;
    }

    .presentation__container {
      width: 80%;
    }
  }
</style>
