<section id="projects">
  <div class="projects__container">
    <h2>Proyectos</h2>
    <p>
      Durante mi trayectoria profesional, he liderado diversos proyectos en tres empresas distintas.
      Destaca entre ellos el IUS Electoral, lanzado al público mientras trabajaba en el Tribunal
      Electoral del Poder Judicial de la Federación. Para su desarrollo, utilicé tecnologías como
      Angular, .Net Framework 4.5 y SQL Server.
      <a href="https://www.te.gob.mx/ius2021/#/" target="_blank"><strong>IUS Electoral</strong></a>
    </p>
    <h2>Proyectos personales</h2>
    <p>
      Project Tracker es una plataforma de gestión de proyectos similar a Jira y Monday, con la
      capacidad adicional de administrar objetos de base de datos.
    </p>
    <p>
      Punto de ventas: <br />
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum repellat, dolorem accusamus a eligendi
      obcaecati aliquid cupiditate quo est delectus quas ea corrupti aliquam officia, minus, voluptatem
      iure saepe fugiat.
    </p>
  </div>
</section>

<style>
  #projects {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
  }

  .projects__container {
    width: 60%;
    font-size: 1.5rem;
  }

  @media screen and (min-width: 0) and (max-width: 700px) {
    .projects__container {
      width: 80%;
    }
  }
</style>
